Repository zsmartsystems/com.zsmartsystems.zigbee, pull requests merged in 2021-11, with the labels that each got.

#1272 Fix for CC2531 missing transaction ID
  com.zsmartsystems.zigbee.dongle.cc2531/src/main/java/com/zsmartsystems/zigbee/dongle/cc2531/ZigBeeDongleTiCc2531.java
Labels: enhancement, CC2531

#1275 Ensure consistent use of SLF4J in pom
  pom.xml
Labels: bug

#1274 Fix attribute definition errors in Thermostat cluster
  com.zsmartsystems.zigbee.autocode/src/main/resources/0201_Thermostat.xml
  com.zsmartsystems.zigbee/src/main/java/com/zsmartsystems/zigbee/zcl/clusters/ZclThermostatCluster.java
Labels: bug

#1277 Updates from UG100 release 4.2
  com.zsmartsystems.zigbee.dongle.ember.autocode/src/main/resources/ezsp_protocol.xml
  com.zsmartsystems.zigbee.dongle.ember/src/main/java/com/zsmartsystems/zigbee/dongle/ember/ezsp/command/EzspGetRoutingShortcutThresholdRequest.java
  com.zsmartsystems.zigbee.dongle.ember/src/main/java/com/zsmartsystems/zigbee/dongle/ember/ezsp/command/EzspGetSourceRouteTableFilledSizeRequest.java
  com.zsmartsystems.zigbee.dongle.ember/src/main/java/com/zsmartsystems/zigbee/dongle/ember/ezsp/command/EzspGetSourceRouteTableTotalSizeRequest.java
  com.zsmartsystems.zigbee.dongle.ember/src/main/java/com/zsmartsystems/zigbee/dongle/ember/ezsp/structure/EmberStatus.java
  com.zsmartsystems.zigbee.dongle.ember/src/main/java/com/zsmartsystems/zigbee/dongle/ember/ezsp/structure/EzspConfigId.java
  com.zsmartsystems.zigbee.dongle.ember/src/main/java/com/zsmartsystems/zigbee/dongle/ember/ezsp/structure/EzspValueId.java
Labels: enhancement, EMBER
